/test-results
/utils/test results
/utils/test-results

/config.json
/lists/ipset-all.txt
/lists/ipset-exclude-user.txt
/lists/list-general-user.txt
/lists/list-exclude-user.txt
/lists/*.backup
/lists/*test-backup*

.vscode/
/build/
/.local/
